
         <div class="all_form_row">
              <div class="all_field">
                  <div class='control-group <%- locals.validate_errors && validate_errors.login
                                                                  ? "error" : "" %>'>
                      <div class='controls'>
                          <textarea id="comment_body" class="all_textarea" name="comment[body]" rows="10"
                            placeholder="Write in your comments"><%= comment.body %>
                          </textarea>
                      </div>
                  </div>
              </div>
         </div>

        <div class="all_form_row">
            <div class="actions contact">
                <input class="cancel_button" type="button" value="Cancel" onClick="location.href='/posts/<%= post.id %>'"/>
                <input class="submit_button" name="commit" type="submit" value="Save" />
            </div>
        </div>
