<div class="clear"></div>

<form method='post' action='/posts/<%= post.id %>/comments'>

    <div class="left_box" id="all_form">
        <div class="all_form">
        <div class="all_form_subtitle">new comment</div>

    <% include _form.ejs %>

    </div></div>

</form>