<div class="left_title">Welcome</div>

<div class="clear"></div>

<div class="left_box" id="welcome_box">

    <div class="left_box_title">Welcome to the Book Blog!</div>

    <p class="details">A place to post, comment and review books</p>

    <div class="clear"></div>

</div>