<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <title>The Book Blog</title>
</head>

<body>
<div class="header">

    <div class="header_left"><img src="images/header_left.png" alt=""></div>
    <div class="header_right"><img src="images/header_right.png" alt=""></div>
    <div class="logo"><a href="/"><img src="images/logo.png" alt="" title="" border="0" /></a></div>
    <div id="menu">
        <ul>
            <li class="selected"><a href="/">home</a></li>
            <li><a href="/Posts">books</a></li>
            <li><a href="about.html">about</a></li>
        </ul>
    </div>
</div>

<div class="clear"></div>

<div id="wrap">

    <div class="container2">
        <div class="container1">

            <div class="left_content">

                <%- body %>

            </div><!--end of left content-->

            <div class="right_content">

                <div class="right_box">

                    <div class="right_title"><span class="title_icon"><img src="images/bullet3.gif" alt="" title="" /></span>About The Book Blog</div>
                    <div class="clear"></div>
                    <a href="about.html">
                       <img src="images/about.gif" alt="" title="" class="right" />
                    </a>
                    <p>The Book Blog is the result of the SWCM final project.</p>
                    <p>Click on the image to learn more about it.</p>


                </div>


                <div class="right_box">

                   <div class="right_title"><span class="title_icon"><img src="images/bullet5.gif" alt="" title="" /></span>Tags</div>

                   <ul class="list">
                       <li><a href="#">tag1</a></li>
                   </ul>

                </div>

                <div class="right_box" id="last">

                    <div class="right_title">Visits since launched: <%= counter %> </div>

                </div>

            </div><!--end of right content-->

            <div class="clear"></div>

        </div>
    </div>
    <!--end of center content-->

    <div class="clear"></div>
    <div class="footer">
        <div class="left_footer"><h4>SWCM 2012-2013</h4></div>
        <div class="right_footer">
            <h4>Vaishali-Narain Mirchandani Darayanani</h4>

        </div>


    </div>


</div>

</body>
</html>

