body
{
    font-family:Arial, Helvetica, sans-serif;
    padding:0;
    font-size:12px;
    margin:0 auto auto auto;
    color:#000000;
    width: 80%;
    background: #6F605A url("../images/bg_tile.png") repeat;
    border: 3px solid;
    border-color: #53290B;
    margin-top: 20px;
    min-width: 780px;
}
a{
    color:#f8981d;
}
.clear{
    clear:both;
}
.header{
    position: relative;
    width: 100%;
    height: 181px;
    background: url("../images/header_center.png") repeat-x;
    margin-left: auto ;
    margin-right: auto ;
}
.header_right{
    float: right;
}
.header_left{
    float: left;
}

p{
    padding:5px 0 5px 0;
    margin:0;
    text-align:justify;
    line-height:19px;
}
p.details{
    padding:5px 15px 5px 15px;
    font-size:11px;
}

#wrap{
    height: auto;
    width: 100%;
    margin:auto;
    background-color:#FFFFFF;
}

.logo{
    position: absolute;
    padding:50px 0 0 130px;
}

ul.list{
    clear:both;
    padding:10px 0 0 20px;
    margin:0;
}
ul.list li{
    list-style:none;
    font-weight: bold;
    background:url(../images/left_menu_bullet.gif) no-repeat left;
    padding:0 0 0 17px;
}
ul.list li a{
    text-decoration: none;
}
ul.list li a:hover{
    text-decoration:underline;
}
img.right{
    float:right;
    padding:0 0 0 10px;
}

span.title_icon{
    float:left;
    padding:0 5px 0 0;
}

a.more{
    font-style:italic;
    color:#f8981d;
    float:right;
    text-decoration:none;
    font-size:11px;
    padding:0 15px 0 0 ;
}




/*-----------------------------all layout menus-------------------*/


.menu ul{
    display:block;
    list-style:none;
    padding:9px 0 0 10px;
    margin:0;
}
.menu ul li{
    display:inline;
    padding:0;
    margin:0;
    height:20px;
}
.menu ul li a{
    height:27px;
    display:block;
    padding:0 10px 0 10px;
    margin:0 4px 0 4px;
    float:left;
    text-decoration:none;
    text-align:center;
    color:#fff;
    font-size:13px;
    line-height:25px;
}
.menu ul li.selected a{
    height:27px;
    display:block;
    padding:0 10px 0 10px;
    margin:0 5px 0 5px;
    float:left;
    text-decoration:none;
    text-align:center;
    color:#f7a849;
    font-size:13px;
    line-height:25px;
}
.menu ul li a:hover{
    color:#f7a849;
}

/*----menu----*/

#menu{
    position: absolute;
    height:30px;
    padding:145px 0 0 10px;
}

/*----search form layout----*/

#search_form{
    position: absolute;
    width: 100%;
    height:30px;
    float: left;
    padding:154px 0 0 0 ;
    text-align: right;
    margin-left: -10px;
}
#search_form .submit_button{
    display:block;
    height: 25px;
    float:right;
    margin:0 0 0 10px;
    background-color: #795636;
    color:#fff;
    border: none;
}


/*--bg images setting --*/

.container2 {
    float:left;
    width:100%;
    background:url("../images/bg_center_right.png") repeat;
    overflow: hidden;


}

.container1 {
    float:left;
    width:100%;
    background:url("../images/bg_center_left.png") repeat-y right;
    background-color: white;
    position:relative;

    right:35%;
}




/*------------------------------------left content--------------------*/
.left_content{
    width: 65%;
    height: inherit;
    float:left;
    position:relative;
    left:35%;
}


.left_box.comment{
    width: 75%;
    margin-left: 80px;
}


/*--------left_box---------*/

.left_box{
    float: left;
    width: 85%;
    padding-top:20px;
    padding-bottom:30px;
    margin-left: 20px;
    padding-left: 15px;
    position:relative;
    border-bottom:1px #b2b2b2 dashed;
}

.left_title{
    color:#734633;
    padding-top:20px;
    padding-left: 25px;
    float:left;
    font-size:19px;
    margin:10px 0 10px 0;
}

.left_box_title{
    color:#f8981d;
    padding:5px 0 0 15px;
    font-size:13px;
}
.left_box_title a{
    font-size:13px;
    font-weight: bold;
    text-decoration: none;
}
.left_box_title a:hover{
    text-decoration: underline;
}

.left_box#footer{
    border-bottom:none;
    float:left;
    font-size:15px;
    text-align: right ;

}

.left_box#footer p  {
    text-align: right ;
}
.left_box#footer p a {
    font-weight: bold;
    color:#734633;

}

.left_box#footer > a {
    font-weight: bold;
    color:#734633;
}

/*---welcome_box---*/

.left_box#welcome_box{
    border-bottom:none;
}


/*------------------------------------right content--------------------*/
.right_content{
    width:35%;
    height: inherit;
    float:left;
    margin-bottom:20px;
    position:relative;
    left:35%;
}

.right_title{
    color:#734633;
    padding-top:20px;
    padding-left: 5px;
    float:left;
    font-size:19px;
    margin:10px 0 10px 0;
}

/*--------right_box---------*/

.right_box{
    background:url(../images/border.gif) no-repeat bottom center;
    padding:0 20px 35px 25px;
}

.right_box#last{
    padding:0 20px 35px 25px;
    background:none;
}

/*---------------footer------------------------*/

.footer{
    height:60px !important;
    border-top:1px #b2b2b2 dashed;
}
.left_footer{
    float:left;
    padding:10px 0 0 10px;
}
.right_footer{
    float:right;
    padding:10px 10px 0 0;
}
.footer a{
    text-decoration:none;
    padding:0 5px 0 5px;
    color:#afaeaf;
}

/*-------form---------*/


.all_form{
    width: 90%;
    float:left;
    padding:25px;
    margin:20px 0 0 15px;
    border:1px #DFD1D2 dashed;
    position:relative;
}

.all_form_row{
    clear:both;
    padding:10px 0 10px 0;
    color:#a53d17;
}

.all_form input.all_input{
    background-color:#fff;
    color:#999999;
    border:1px #DFDFDF solid;
    float:left;
    width: 100%
}

.all_form textarea.all_textarea{
    font-family:Arial, Helvetica, sans-serif;
    color: #999999;
    background-color:#fff;
    border:1px #DFDFDF solid;
    float:left;
    width: 100%;
    resize: none;
}

.all_form_subtitle{
    position:absolute;
    top:-11px;
    left:7px;
    width:auto;
    height:20px;
    background-color:#795636;
    text-align:center;
    padding:0 7px 0 7px;
    color:#FFFFFF;
    font-size:11px;
    line-height:20px;
}

.submit_button{
    display:block;
    float:right;
    margin:0 0 0 10px;
    background-color: #795636;
    color:#fff;
    border-color:#795636;
}

.left_box#all_form{
    border-bottom:none;
}


/*----------tables----------*/



.all_tables {
    margin:0;padding:0;
    width:100%;
    box-shadow: 10px 10px 5px #888888;
    border: none;

}

.all_tables table{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    border: 1px solid black;
    border-collapse:collapse;
}


.all_tables tr:nth-child(odd){
    background-color:#ccab8e;
}

.all_tables tr:nth-child(even)    {
    background-color:#ffffff;
}

.all_tables td{
    vertical-align:middle;
    border:1px solid #000000;
    text-align:left;
    padding:7px;
    font-size:10px;
}


.all_tables tr:first-child td{
    background-color:#795636;
    text-align:center;
    border-width:0 0 1px 1px;
    font-size:14px;
    font-weight:bold;
    color:#ffffff;
}

.all_tables a{
    color: #734633;
    font-weight: bold;
    font-style: italic;
}


/*---------flash messages---------*/

#flashinfo {
    width: 90%;
    border: 2px solid blue;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    margin-left: auto ;
    margin-right: auto ;
}

#flashinfo h3 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #00c;
    color: #fff;
}

#flashinfo ul li {
    font-size: 12px;
    list-style: square;
}


#flashsuccess {
    width: 90%;
    border: 2px solid green;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    margin-left: auto ;
    margin-right: auto ;
}

#flashsuccess h3 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #0c0;
    color: #fff;
}

#flashsuccess ul li {
    font-size: 12px;
    list-style: square;
}

#flasherror {
    width: 90%;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    margin-left: auto ;
    margin-right: auto ;
}

#flasherror h3 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
}

#flasherror ul li {
    font-size: 12px;
    list-style: square;
}

.invalid_field {
    border-style: ridge;
    border-color: red;
    padding: 8px;
    display: table;
    width: 100%;
}

.field {
    width: 100%;
}

.author{
    font-size: 10px;
}

.left_title.comments{
    font-size: 15px;
    margin-left:80px;
}

/*----------Input file style template:
http://www.onextrapixel.com/2012/10/26/custom-style-all-your-form-elements-with-pure-css-and-no-javascript----------*/

input[type="file"] {
    position: relative /* this needs to be in place for the pseudo element to position properly */;
    -webkit-appearance: none /* this is the key to clearing the default styling */;
    width: 40%;
    padding:0;
    background-color: #f5f5f5;
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
    border:solid 1px #ccc;
}

input[type=file]::-webkit-file-upload-button {
    width: 0;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    border: none;
}

input[type="file"]:after {
    content:'Choose File';
    margin:0 0 0 0.5em;
    display: inline-block; left: 100%; position: relative;
    background: white url(../images/formelements-select.png) no-repeat center left;
    padding:0.3em 0.5em;
    border: solid 1px #ccc;
    -webkit-appearance: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}


img.attachments{
    margin-left: 20px;
    max-width: 150px;
}

.attachment_actions{
    display:inline;
    float:right;
}


.attachment_actions a.more{
    font-size: 12px;
}

.attachment_actions a.more:hover{
    text-decoration: underline
}