<%- include _changeSelectedMenu.ejs %>

<div class="left_title">New User</div>

<div class="clear"></div>

<form method='post' action='/users'>

  <%- include _form.ejs %>

</form>


<div class="left_box post" id="footer">
    <a href="/users"> Back  </a>
</div>
