<div class="left_box" id="all_form">
    <div class="all_form">
    <div class="all_form_subtitle">all fields are required</div>
        <div class="all_form_row">
            <div class="all_field">
                <div class='control-group <%- locals.validate_errors && validate_errors.login
                                                                ? "error" : "" %>'>
                    <label class='control-label' for="all_title">Book Title</label><br />
                    <div class='controls'>
                        <input type="text" id="all_title" class="all_input" name="post[title]" placeholder='<%= post.title%>' />
                    </div>
                </div>
            </div>
        </div>



        <div class="all_form_row">
            <div class="all_field">
                <div class='control-group <%- locals.validate_errors && validate_errors.login
                                                                ? "error" : "" %>'>
                    <label class='control-label' for="all_body">Synopsis</label><br />
                    <div class='controls'>
                        <textarea id="all_body" class="all_textarea" name="post[body]" rows="20"><%= post.body %>
                        </textarea>
                    </div>
                </div>
            </div>
        </div>


        <div class="all_form_row">
        <div class="actions contact">
            <input class="submit_button" name="commit" type="submit" value="Save" />
        </div>
    </div>
</div

<div class="clear"></div>