<div class="left_box" id="all_form">
    <div class="all_form">
    <div class="all_form_subtitle">all fields are required</div>
        <div class="all_form_row">
            <div class="all_field">
                <div class='<%- locals.validate_errors && validate_errors.title
                            ? "invalid_field"
                            : "field" %>'>
                    <label for="all_title">Book Title</label><br />
                    <input type="text" id="all_title" class="all_input" name="post[title]" value='<%= post.title%>' />
                </div>
            </div>
        </div>



        <div class="all_form_row">
            <div class="all_field">
                <div class='<%- locals.validate_errors && validate_errors.body
                                  ? "invalid_field"
                                  : "field" %>'>
                    <label for="all_body">Synopsis</label><br />
                    <textarea id="all_body" class="all_textarea" name="post[body]" rows="20"><%= post.body %>
                    </textarea>
                </div>
            </div>
        </div>


        <div class="all_form_row">
        <div class="actions contact">
            <input class="submit_button" name="commit" type="submit" value="Save" />
        </div>
    </div>
</div

<div class="clear"></div>