<%- include _changeSelectedMenu.ejs %>


<div class="left_title">Edit Book</div>

<div class="clear"></div>

<form method='post' action='/posts/<%= post.id %>'>

    <input type='hidden' name='_method' value='put'>

    <% include _form.ejs %>

</form>
