<%- include _changeSelectedMenu.ejs %>

<div class="left_title">New Book</div>

<div class="clear"></div>

<form method='post' action='/posts'>

  <%- include _form.ejs %>

</form>


<div class="left_box post" id="footer">
    <a href="/posts"> Back  </a>
</div>
